.main-app {
  text-align: center;
  /* margin-top: 1%; */
}
.score {
  font-size: 40px;
  display: inline-flex;
  flex-direction: row-reverse;
}
.score .number {
  padding-left: 12px;
}
.letter {
  width: 50px;
  height: 80px;
  /* display: inline-block; */
  /* padding: 10px; */
  border: 1px solid rgb(244, 197, 197);
  margin: 10px;
  cursor: pointer;
  font-size: 50px;
  /* box-shadow: 5px 5px 5px rgb(244, 197, 197); */
}
.board .letter:hover {
  box-shadow: 5px 5px 5px #fce113;
  border: 1px solid rgb(244, 197, 197);
}
.board {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.progress {
  margin-top: 1%;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  justify-content: center;
}
.alona-banner {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: blueviolet;
  text-shadow: 2px 2px 2px #a7a279cd;
  padding: 1rem;
}
.games-cards {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.game-card {
  border: 1px solid grey;
  padding: 10px;
}

body {
  margin: 0px;
}
